<div class="card">
  <div class="card-body p-3">
    <div class="mb-3">
      <p class="font-weight-bold mb-2"><%= branch.display_name %></p>
      <p class="small mb-0 text-muted">
        <%= branch.description %>
      </p>
    </div>
    <div class="mb-3">
      <p class="mb-0 text-dark small font-weight-bold">Top Contributors</p>
      <div class="d-flex flex-wrap">
        <% branch.contributors.first(3).each do |user| %>
          <div class="d-flex align-items-center mt-2 mr-2">
            <div class="mr-2">
              <%= image_tag(user.avatar_url, width: 24, class: "rounded-circle") %>
            </div>
            <div>
              <%= link_to user.name, user.profile_url, class: "text-muted font-weight-bold small" %> 
            </div>
          </div>        
        <% end %>
      </div>
    </div>
    <div>
      <p class="mb-0 text-dark small font-weight-bold">Moderator</p>
      <% branch.moderators.each do |moderator| %>
        <div class="d-flex align-items-center mt-2 mr-2">
          <div class="mr-2">
            <%= image_tag(moderator.avatar_url, width: 24, class: "rounded-circle") %>
          </div>
          <div>
            <%= link_to moderator.name, moderator.profile_url, class: "text-muted font-weight-bold small" %> 
          </div>
        </div>        
      <% end %>
    </div>
  </div>
</div>
