<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_pack_tag("logo.png", width: 26, class: "mr-1") %> <span class="small">reviewit</span>
    <% end %>
    <% if current_user %>
      <div class="ml-auto d-flex align-items-center small">
        </span><%= image_tag(current_user.avatar_url, width: 26, class: "rounded-circle") %>
        <span class="text-muted d-none d-md-inline ml-2"><%= current_user.name %></span>
        <%= link_to "Request a Review", new_post_path, class: "mr-4 btn-outline-primary btn btn-sm ml-4"  %>
        <%= link_to "Logout", sessions_path, method: :delete, class: "text-muted" %>
      </div>
    <% else %>
      <%= link_to "Login with GitHub", Github.authentication_url, class: "btn btn-sm btn-outline-success ml-auto" %>
    <% end %>
  </div>
</nav>
