<div class="card mb-3">
  <div class="card-body p-0">
    <div class="media  d-flex align-items-center">
      <%= render partial: "votes/vote", locals: {originator: post} %>
      <div class="media-body py-3 pr-3">
        <%= link_to slug_post_path(branch: 'master', id: post.id, slug: post.slug) do %>
          <span class="card-title font-prompt">
            <%= post.title %>
          </span>
        <% end %>
        <% if post.url %>
          <p class="small">
            <%= link_to post.url, class: "text-muted", target: :_blank do %>
              <%= post.url %>
              <svg class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.5 15A1.5 1.5 0 005 16.5h8a1.5 1.5 0 001.5-1.5v-4a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7a.5.5 0 01.5-.5h4a.5.5 0 000-1H5A1.5 1.5 0 003.5 7v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V4.5H11a.5.5 0 01-.5-.5z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M16.354 3.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
              </svg>          
            <% end %>
          </p>
        <% end %>
        <%= link_to slug_post_path(branch: 'master', id: post.id, slug: post.slug) do %>
          <span class="small text-muted">Comments (<%= post.comment_count %>)</span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted small py-2 d-flex align-items-center px-0">
    <div class="justify-content-center d-flex" style="width: 60px;">
      <%= image_tag(post.user.avatar_url, width: 24, class: "rounded-circle") %>
    </div>
    <span class="pr-3">
      <%= link_to post.user.name, post.user.profile_url, class: "text-dark font-weight-bold mr-1" %> created 
      <%= time_ago_in_words(post.created_at) + " ago" %>
    </span>
  </div>    
</div>
