<div class="post-action mb-3 text-right">
  <%= link_to "Edit Post", edit_branch_post_path(branch: @branch.slug, id: @post.id), class: "btn-outline-secondary btn btn-sm" %>
</div>
<%= render partial: "posts/post", locals: {post: @post} %>
<div class="card comment-list mb-3 py-3">
  <p class="font-weight-bold text-dark small px-4 m-0">Comments (<%= @post.comment_count %>)</p>
  <% if @post.comments.present? %>
    <%= render partial: "comments/comment", collection: @comments %>
  <% else %>
    <div class="p-5 text-center small text-muted">
      There are no comments :)
    </div>
  <% end %>
</div>
<% if @post.open? %>
  <div class="card mb-3 position-relative">
    <div class="card-body">
      <p class="font-weight-bold text-dark small">Your Comment</p>
      <%= form_with model: Comment.new, url: post_comments_path(post_id: @post.id), class: "form" do |f| %>
        <div class="form-group">
          <%= f.text_area :text, class: "form-control font-prompt", rows: 6 %>
        </div>
        <%= f.submit "Comment", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <% unless current_user.present? %>
      <div class="blocker d-flex align-items-center" style="width: 100%;height: 100%;position: absolute; ;background: rgba(255,255,255,0.7);">
        <%= link_to "Login to comment", Github.authentication_url, class: "btn btn-sm btn-outline-success ml-auto mr-auto" %>
      </div>
    <% end %>
  </div>
<% end %>
<% content_for(:sidebar) do %>
  <div class="mb-3">
    <%= render partial: "branches/info", locals: {branch: @branch} %>
  </div>
  <%= render partial: "branches/branches" %>
<% end %>
